body {
    text-align: center;
}

header {
    background: rgb(27, 0, 29);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.heading-pic {
    width: 100%;

    object-fit: cover;
}

.link-tree {
    list-style: none;
    padding: 0;
    margin: 0;
    float: center;
}

.link-tree > li {
    display: inline-block;
    margin: 0 3% 0 3%;
    padding-top: 10px;
    padding-bottom: 10px;

    position: relative;
}

.link-tree > li > a {
    color: white;
    text-decoration: none;
    font-size: 14pt;

    text-transform: uppercase;
}

.link-tree > li > a ::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
}

.link-tree > li > a:hover {
    color: rgb(220, 154, 255);
}

.profile-pic {
    width: 240px;
    height: 240px;

    object-fit: cover;
    object-position: 100% 40%;

    border-radius: 100%
}

.bio {
    font-size: 18pt;
    padding: 0;

}